In [27]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('../../results/deep_tensor_factorization/df_train_nk.csv', index_col=0)
df.sort_values(['cell_type', 'sm_name'], inplace=True)

In [16]:
df.head()

     cell_type    sm_name      gene    p_value
0      B cells  Alvocidib      A1BG   5.973634
485    B cells  Alvocidib  A1BG-AS1   1.339989
970    B cells  Alvocidib       A2M   7.261231
1455   B cells  Alvocidib   A2M-AS1   8.021802
1940   B cells  Alvocidib     A2MP1  24.671829

In [17]:
df['predict'] = 0

In [18]:
df.head()

     cell_type    sm_name      gene    p_value  predict
0      B cells  Alvocidib      A1BG   5.973634        0
485    B cells  Alvocidib  A1BG-AS1   1.339989        0
970    B cells  Alvocidib       A2M   7.261231        0
1455   B cells  Alvocidib   A2M-AS1   8.021802        0
1940   B cells  Alvocidib     A2MP1  24.671829        0

In [19]:
df['diff'] = (df['p_value'] - df['predict']) ** 2

In [20]:
df.head()

     cell_type    sm_name      gene    p_value  predict        diff
0      B cells  Alvocidib      A1BG   5.973634        0   35.684299
485    B cells  Alvocidib  A1BG-AS1   1.339989        0    1.795570
970    B cells  Alvocidib       A2M   7.261231        0   52.725471
1455   B cells  Alvocidib   A2M-AS1   8.021802        0   64.349307
1940   B cells  Alvocidib     A2MP1  24.671829        0  608.699135

In [21]:
df = df.drop(['gene', 'p_value', 'predict'], axis=1)

In [22]:
df.head()

     cell_type    sm_name        diff
0      B cells  Alvocidib   35.684299
485    B cells  Alvocidib    1.795570
970    B cells  Alvocidib   52.725471
1455   B cells  Alvocidib   64.349307
1940   B cells  Alvocidib  608.699135

In [23]:
grouped = df.groupby(['cell_type', 'sm_name'])

In [25]:
df= grouped.mean()

In [29]:
np.mean(np.sqrt(df['diff']))

1.314996806061046